@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&family=Roboto:wght@300;400&family=Space+Mono&family=Ubuntu&family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&family=Roboto:wght@300;400&family=Space+Mono&family=Ubuntu&family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&family=Righteous&family=Roboto:wght@300;400&family=Space+Mono&family=Ubuntu&family=Ubuntu+Mono&display=swap');

$color-darkest: #8A4B63;
$color-dark: #8F668B;
$color-medium: #8D83AC;
$color-light: #8C9FC3;
$color-lightest: #94BAD3;
$color-text-light: #d8e4ec;
$color-text-dark: #002F38;
$color-borders: gray;

:root {
  font-family: 'Roboto', sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  /* includes everything in the universe, before and after */
  box-sizing: inherit;
}

/* turn off margin/padding, set font and size for the page */
body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.search-container {
  display: flex;
  flex-direction: row;
}

.Navbar {
  background-image: url(./assets/1867051.jpg);
  background-position: center;
  height: 360px;
  margin-bottom: 20px;
  padding-top: 40px;
  display: flex;
  font-weight: lighter;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  width: 100vmax;
  border-bottom: solid 1px $color-borders;

  h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4rem;
    margin: 0;
    padding: 5px;
    color: $color-text-light;
    margin-right: 10px;
  }

  p {
    margin: 0;
    padding: 2px;
    font-size: 1rem;
    font-weight: bolder;
    color: $color-text-light;
    // align-self: bottom
  }
}

.SearchPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 30vw;
  min-width: 300px;
  max-width: 25vw;
  // color: $color-borders;
  // margin-right: 10px;
  // border-right: solid 1px $color-borders;

  button {
    width: 100%;
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
    border: solid 1px $color-borders;
    border-radius: 5px;
  }
  .add-button {
    background-color: $color-light;
    color: $color-text-light;
  }
  .search-button {
    background-color: $color-dark;
    color: $color-text-light;
  }
}

.SearchField {
  margin-bottom: 10px;
  input {
    height: 50px;
    border: solid 1px $color-borders;
    border-radius: 5px;
    opacity: 1;
    width: 200px;
    padding: 9px;
  }
}

.SearchResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  height: 67vh;
  padding-right: 30px;
}

.leaflet-container {
  width: 100%;
  height: 80vh;
  z-index: 3;
}

.map-popup-flight-list-item {
  font-size: 0.6rem;
  margin: 0;
  padding: 0;
}

.list-of-destination-city-names {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.7rem;

  p {
    margin-right: 5px;
    padding: 0;
    font-family:'Courier New', Courier, monospace
  }
}
