$color-black: #000000;
$color-darkblue: #14213d;
$color-yellow: #fca311;
$color-gray: #e5e5e5;
$color-white: #ffffff;

:root {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.Navbar {
  color: $color-white;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vmax;
  background-color: $color-darkblue;
}

.Navbar h2 {
  margin: 0;
  padding: 5px;
}

.Navbar p {
  margin: 0;
  padding: 2px;
}

.Search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 10vh;
  background-color: $color-darkblue;
  // margin-bottom: 30px;
  color: $color-gray
}

.origin-input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // padding: 0;
  // padding-top: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
  width: 70vw;
  background-color: $color-black;
  border-radius: 5px;
  min-height: 60px;
  // opacity: 0.7;
}

.origin-input-cities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: flex-start;
}
.OriginSearchItem {
  display: flex;
  padding-right: 2px;
}

input {
  margin: 0px 0px 0 0;
  height: 33px;
  border-radius: 5px;
}

.add-remove-search-buttons {
  display: flex;
}

button {
  width: 70px;
  // align-self: flex-end;
}

.small-button {
  width: 2rem;
}

.search-button {
  height: 37px;
  background-color: $color-yellow;
  opacity: 0.8;
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  // font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0 3px;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.SearchResult {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 80vh;
  // min-height: 200px;
  // position: relative;
}

.list-of-destination-city-names {
  // position: absolute;
  // bottom: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 2;
}

.destination-city-name {
  margin: 0 0 0 17px;
  padding: 0;
  font-size: 0.7rem;
}


.leaflet-container {
  width: 100%;
  height: 80vh;
  // height: 325px;
  // margin-bottom: 20px;
}


.map-popup-flight-list-item {
  font-size: 0.6rem;
  margin: 0;
  padding: 0;
}

.map-popup-flight-list {
  font-size: 0.6rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
