@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&family=Roboto:wght@300;400&family=Space+Mono&family=Ubuntu&family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&family=Roboto:wght@300;400&family=Space+Mono&family=Ubuntu&family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&family=Righteous&family=Roboto:wght@300;400&family=Space+Mono&family=Ubuntu&family=Ubuntu+Mono&display=swap');

$color-darkest: #8a4b63;
$color-dark: #8f668b;
$color-medium: #8d83ac;
$color-light: #8c9fc3;
$color-lightest: #94bad3;

:root {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.SearchResult {
  position: relative;
}

Marker {
  position: absolute;
  bottom: 20px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-search-container {
  background-image: linear-gradient(
    to bottom,
    #91bac5,
    #7ca5b0,
    #68909b,
    #547c87,
    #416973
  );
}

.Navbar {
  color: whitesmoke;
  height: 16%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    margin: 0;
    padding: 5px;
    color: #002f38;
    margin-right: 10px;
  }

  p {
    margin: 0;
    padding: 2px;
    font-weight: bolder;
  }
}

.navbar-title-animation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 10vh;
  color: gray;
}

.origin-input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 70vw;
  background-color: hsla(40, 26%, 93%, 0.84);
  border-radius: 4px;
  min-height: 60px;
}

.origin-city-input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.origin-input-cities {
  display: flex;
  flex-direction: row;
  // justify-content: center;
  flex-wrap: wrap;
  max-width: 80%;
  margin-top: 7px;
  margin-left: 7px;
  margin-bottom: 7px;
  // margin-left: 10vw;
  // justify-content: flex-start;
}
.OriginSearchItem {
  display: flex;
  padding-right: 2px;
}

input {
  margin: 0px 0px 0 0;
  padding-left: 0.7rem;
  height: 33px;
  border: solid 1px gray;
  border-radius: 5px;
  opacity: 1;
  background-color: white;
}

.add-remove-search-buttons {
  display: flex;
  align-items: center;
  // margin: 1rem 0;
}

button {
  width: 70px;
  // align-self: flex-end;
}

.small-button {
  width: 2rem;
}

.search-button {
  height: 37px;
  background-color: #91bac5;
  opacity: 0.8;
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0 3px;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.search-button:hover {
  // font-weight: 600;
  background-color: rgb(162, 187, 194);
  opacity: 1;
}

.SearchResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 84%;
  background-color: #bff4ff;
  // min-height: 200px;
  // position: relative;
}

.list-of-destination-city-names {
  // position: absolute;
  // bottom: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 2;
}

.destination-city-name {
  margin: 0 0 0 17px;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.7rem;
}

.leaflet-container {
  width: 100%;
  height: 80vh;
  z-index: 1;
  // height: 325px;
  // margin-bottom: 20px;
}

.map-popup-flight-list-item {
  font-size: 0.6rem;
  margin: 0;
  padding: 0;
}

.map-popup-flight-list {
  font-size: 0.6rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  border: 1px solid red;
  z-index: 2;
  width: 95vw;
  background-color: hsla(40, 26%, 93%, 0.5);
  border: 1px solid whitesmoke;
  border-radius: 3px;
}

@media screen and (max-width: 800px) {
  // .navbar-search-container {
  //   display: flex;
  //   flex-direction: column;
  // }
  .list-of-destination-city-names {
    display: none;
  }
  .add-remove-search-buttons {
    // display: flex;
    margin: 1rem 0;
  }
  .origin-input-cities {
    display: flex;
    justify-content: center;
  }
  .Navbar {
    height: 15vh;
  }
}

@media screen and (max-width: 600px) {
  .Navbar p,
  .Navbar h1 {
    display: none;
  }
}
.search-form {
  width: 100px;
}
